@import "./variables";

body {
  font-family: 'Noto Sans KR', sans-serif;

  section {
    margin: $section-space;
  }

  .space {
    margin: $small-space;
  }

  .bold {
    font-weight: bold;
  }

  .row {
    display: flex;
    justify-content: space-between;
  }

  .progress-text {
    color: $progress-dark;
  }
}
