/* /////////    colors    ///////// */
$speak: #c454ff;
$progress-dark: #fe7dab;
$progress-light: #fec1ee;
$frame-in: #ffe676;
$frame-out: #e8d376; 
$buttons: #aad6fb;
$buttons-background: aliceblue;
$link: #5e9fc0;
$submitted: #1b881c;
$submit-dark: #69f7be;
$submit-light: #d0fff1;
$gray: #9f9f9f;
$light-filler: #fffef9;
$filler: #FFFBE5;
$err: #bd2828;

/* /////////    sizes    ///////// */
$button-width: 90px;
$button-height: 35px;
$small-space: 10px;
$section-space: 30px; 